<div class="py-2">
    <nav class="block">
      <ul class="flex pl-0 rounded list-none flex-wrap">
        <li>
          <button (click)="getPage(page - 1)" class="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-red-500 bg-white text-red-500">
            <i class="fas fa-chevron-left -ml-px"></i>
          </button>
        </li>
        <li>
          <button (click)="getPage(page)" class="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-red-500 bg-white text-red-500">
            {{page}}
          </button>
        </li>
        <li>
          <button (click)="getPage(page + 1)" class="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-red-500 bg-white text-red-500">
            {{page + 1 }}
          </button>
        </li>
        <li>
          <button (click)="getPage(page + 2)" class="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-red-500 bg-white text-red-500">
            {{page + 2}}
          </button>
        </li>
        <li>
          <button (click)="getPage(page + 3)" class="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-red-500 bg-white text-red-500">
            {{page + 3}}
          </button>
        </li>
        <li>
          <button (click)="getPage(page + 4)" class="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-red-500 bg-white text-red-500">
            {{page + 4}}
          </button>
        </li>
        <li>
          <button (click)="getPage(page + 1)" class="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-red-500 bg-white text-red-500">
            <i class="fas fa-chevron-right -mr-px"></i>
          </button>
        </li>
      </ul>
    </nav>
</div>
<div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
  style="margin-right: 10px; margin-bottom: 10px;">
  <div class="flex-auto p-4 flex-wrap">
    <div class="flex flex-wrap">
      <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
        <h2 class="text-blueGray-400 uppercase font-bold text-xs">
          {{favMovie.original_title}}
        </h2>
        <span class="font-semibold text-xl text-blueGray-700">
          {{favMovie.title}}
        </span>
      </div>
      <div class="relative w-auto pl-4 flex-initial">
        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full"
          style="background-color: #081C22;">
          <span style="font-weight: bold;">{{favMovie.vote_average * 10}}%</span>
        </div>
      </div>
    </div>
    <div class="flex justify-around">
      <div>
        <img [src]="getPhotoUrl()" alt="" width="25%">
      </div>
      <div class="self-end">
        <button *ngIf="session_id" (click)="deleteFav()"><i class="fas fa-heart" style="width: 50px;"></i></button>
      </div>
      <div class="self-end">
        <a [routerLink]="['/movie-detail', favMovie.id]" style="margin-left: 5px;">Detalles</a>
      </div>
    </div>
  </div>
</div>
