<app-navbar></app-navbar>
<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          Welcome to Tv & Movies.
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          We give a list of movies, tv series and a list of actors with their own characerictics.
        </p>        
      </div>
    </div>
  </div>

  <img
    class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/30319/hotpopcorn-movie-clipart-md.png"
    alt="..."
  />
</section>
<app-footer></app-footer>
